
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display&family=Roboto:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 70px 1fr 40px;
}

header {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f8f9fa;
}

header ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,50px);
    align-items: center;
}

.categories {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    margin-left: 1rem;
}

button{
    width: 100%;
    background-color: transparent;
    border: none;
    font-size:1rem;
    cursor: pointer;
}

.settings {
    display: grid;
    grid-template-columns: repeat(3,30px);
    justify-content: end;
    gap: 1rem;
    margin-right: 1rem;
}

main {
    background-color: #e9ecef;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 2rem;
}

footer {
    background-color: #adb5bd;
}